*, *::before, *::after{
    margin: 0;
    box-sizing: border-box;
}

.first{
    min-height: 100vh;
    display: grid;;
    grid-auto-flow: column;
    grid-template-rows: 1fr 8fr;
	background-color: #de2b24;
    color: #ffffff;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;
}

.first-header{
    margin-top: 10vh;
    text-align: center;
}

.first-header::after{
    position: relative;
    content: "__";
    font-size: 13vw;
}

.first-header__title{
    font-weight: 700;
    font-size: 10vw;
}

.first-header__subtitle{
    font-weight: 100;
    font-size: 6vw;
}

.first-table{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr; 
    padding-bottom: 40px;
    margin: 0 5vw;
}

.first-table-cell{
    min-height: 40vh;
    text-align: center;
    height: 100%;
    width: 80%;
    background-color: #f35e59;
}

.first-table-cell.text{
    margin-bottom: 20px;
    transition: .4s;
}

.first-table-cell.text:hover{
    transition: transform .4s;
    transform: scale(0.9);
}

.first-table-cell__title{
    font-weight: 700;
    font-size: 8vw;
    align-self: center;
}

.first-table-cell__subtitle{
    font-weight: 500;
    font-size: 5vw;
}

.first-table-cell__icon{
    margin-top: 100px;
    height: auto;
    width: 13%;
    align-self: end;
}

.first-table-cell__photo{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .2s;
}

.first-table-cell__photo:hover{
    transition: transform .2s;
    transform: scale(1.1);
}


@media (min-width: 566px) {
    .first{
        grid-template-rows: 1.5fr 6fr;
    }

    .first-table{
        grid-template-columns: 1fr 1fr;
    }

    .first-table-cell{
        min-height: 25vh;
        width: 100%;
    }

    .first-table-cell__icon{
        margin-top: 70px;
        height: auto;
        width: 20%;
        align-self: end;
    }

    .first-table-cell__subtitle{
        font-size: 3.5vw;
    }

    .first-table-cell__title{
        font-size: 5vw;
    }
}

@media (min-width: 767px) {
    .first{
        height: 100vh;
        grid-template-rows: 1fr 3fr;
    }

    .first-header::after{
        font-size: 5vw;
    }
    
    .first-header__title{

        font-size: 5vw;
    }
    
    .first-header__subtitle{
        font-size: 2.5vw;
    }

    .first-table{
        margin-top: 30px;
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: 7vw;
        margin-left: 5%;
        margin-right: 5%;
    }

    .first-table-cell__subtitle{
        font-size: 1.7vw;
    }

    .first-table-cell__title{
        font-size: 2.5vw;
    }

    .first-table-cell__icon{
        margin-top: 70px;
        width: 17%;
    }
}

@media (min-width: 993px) {
    .first{
        height: 100vh;
        grid-template-rows: 1fr 3fr;
    }

    .first-header::after{
        font-size: 3vw;
    }
    
    .first-header__title{
        font-size: 3vw;
    }
    
    .first-header__subtitle{
        font-size: 1.5vw;
    }

    .first-table{
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: 100px;
        margin-left: 13vw;
        margin-right: 13vw;
    }

    .first-table-cell__subtitle{
        font-size: 1.3vw;
    }

    .first-table-cell__title{
        font-size: 2vw;
    }

    .first-table-cell__icon{
        margin-top: 70px;
        width: 15%;
    }
}

@media (min-width: 1367px) {
    .first-header::after{
        font-size: 2vw;
    }
    
    .first-header__title{
        font-size: 2vw;
    }
    
    .first-header__subtitle{
        font-size: 1vw;
    }

    .first-table{
        margin-top: 0;
        padding-bottom: 130px;
        margin-left: 17vw;
        margin-right: 17vw;
    }

    .first-table-cell__subtitle{
        font-size: 0.9vw;
    }

    .first-table-cell__title{
        font-size: 1.5vw;
    }

    .first-table-cell__icon{
        margin-top: 90px;
        width: 14%;
    }
}

.second{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr fit-content(100%) 3fr;
    grid-auto-flow: row;
    justify-items: center;
	background-color: #1287bf;
    font-family: 'Inter', sans-serif;
}

.second-header{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    color:white;
    text-align: center;
}

.second-header__title{
    font-weight: 700;
    font-size: 30px
}

.second-header__subtitle{
    font-weight: 100;
    font-size: 20px
}

.second-button{
    margin-top:15px
}

.second-button__circle{
	width: 50px;
	height: 50px;
	border-color: #ffffff;
	border-style: solid;
	border-width: 2px;
	border-radius: 50%;
}

.second-button__arrow{
	border: solid #ffffff;
  	border-width: 0 2px 2px 0;
  	display: inline-block;
	margin-top: 13px;
    margin-left: 15px;
  	padding: 7px;
	transform: rotate(45deg);
}

.second-form{
    display: grid;
    height: 90%;
    width: 85%;
    background-color:white;
    border-radius: 4px;
    grid-auto-flow: row;
    justify-items: center;
    justify-content: center;
    text-align: center;
    grid-template-rows: fit-content(100%) 1fr;
}

.second-triangle{
	width: 0;
	height: 0;
	border-right: 25px solid transparent;
	border-left: 25px solid transparent;
	border-bottom: 25px solid #ffffff;
}

.second-form-head{
    width: 90%;
    margin-top: 30px;
    font-weight: 100;
    color: #828282;
}

.second-form-input{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-top: 20px;
    width: 80%;
    height: 80%;
}

.second-form-input > input{
    padding-left: 10px;
    height: 50px;
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
}

.second-form-input > input.submit_button{
	background-color: #de2b24;
    font-size: 100%;
    border-width: 0;
    margin: 20px auto 0 auto;
    padding: 0;
    color: white;
    font-weight: 700;
    white-space: pre-wrap;
    width: 30%;
}

@media (min-width: 566px) and (min-height : 740px) {
    .second-form{
        height: 75%;
        width: 75%;
    }

    .second-form-body__description{
        font-size: 100%;
    }

    .second-form-input{
        grid-template-rows: repeat(4, fit-content(100%));
        justify-items: center;
        justify-content: center;
        align-items: center;
    }

    .second-form-input > input{
        width: 90%;
        margin-bottom: 10px;
        height: 50px;
    }
    
    .second-form-input > input.submit_button{
        margin-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 767px) {

    .second-form{
        min-height: fit-content;
    }

    .second-form-head{
        width: 80%;
        font-size: 100%;
    }

    .second-form-body__description{
        align-self: center;
    }
}

@media (min-width: 993px) {
    .second-form{
        width: 60%;
        height: 80%;
        min-height: fit-content;
    }

    .second-form-input > input{
        height: 60px;
    }

    .second-form-input > input.submit_button{
        margin-top:20px;
    }
}

@media (min-width: 1200px) {
    .second-form{
        width: 55%;
        height: 80%;
        
    }

    .second-form-input{
        margin-top: 5%;
    }

    .second-form-input > input.submit_button{
        margin-top:30px;
    }
}

@media (min-width: 1367px) {
    .second-form{
        width: 40%;
        height: 70%;
    }

    .second-form-body__description{
        font-size: 110%;
    }
}

.third{
    min-height: 50vh;
    min-width: 100%;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    grid-template-rows: fit-content(100%) 1fr;
    background-color: #2a2a2a;
    font-family: "Inter", sans-serif;
    color: white;
}

.third-head{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: fit-content(100%) fit-content(100%);
    column-gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 7vh;
}

.third-head__title{
    grid-column: 1/5;
    font-size: 175%;
    font-weight: 700;
}

.third-head__icon{
    align-self: start;
    margin-top: 28px;
    width: 6vh;
    height: 6vh;
    object-fit: scale-down;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #515151;
    transition: .2s;
}

.third-head__icon:hover{
    border-color: #de2b24;
    transition: .2s;
}

.third-subscription{
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: fit-content(100%) 1fr;
}

.third-subscription__caption{
    text-align: center;
    color: #cecece;
    font-weight: 100;
    margin: 3vh 3vw;
    font-size: 100%;
}

.third-subscription-input{
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    grid-template-rows: 1fr 2fr;
}

.third-subscription-input > input{
    height: 6vh;
    background-color: #515151;
    border: 0;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10px;
    max-width: 685.5px;
    width: 90%;
    font-family: "Inter", sans-serif;
}

.third-subscription-input > input.subscribe_button{
    max-width: 153px;
    width: 100%;
    background-color: transparent;
	text-align: center;
	border-style: solid;
	border-color: #515151;
	border-width: 2px;
	border-radius: 4px;
	font-weight: 700;
    font-size: 100%;
    color: white;
    padding: 0;
    margin-top: 20px;
}

footer{
    display: grid;
    align-items: center;
    height: 8vh;
    font-family: "Inter", sans-serif;
    background-color: #515151;
    color: #cecece;
    text-align: center;
}

